[submodule "build/emscripten/pdfium/third_party/qpdf"]
	path = build/emscripten/pdfium/third_party/qpdf
	url = https://github.com/akash-ironsoft/qpdf.git
	branch = PDF-2105-integrate-qpdf-into-pdfium-wasm
